<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:utext="${title}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<div th:replace="fragments/header :: copyheader"></div>

<body style="background-color: #d1ded7;">
<div class="mainblock">
  <div class="container">
    <h1>Registration</h1>
    <form action="#" th:action="@{/registration}" th:object="${client}" method="post">
      <table width="35%" cellspacing="0" cellpadding="4">
        <tr>
          <td align="right"><p>Name: </p></td>
          <td align="center"><p><input class="input" type="text" th:field="*{firstName}" /></p></td>
        </tr>
        <tr>
          <td align="right"><p>Surname: </p></td>
          <td align="center"><p><input class="input" type="text" th:field="*{lastName}" /></p></td></tr>
        <tr>
          <td align="right"><p>Password: </p></td>
          <td align="center"><p><input class="input" type="password" th:field="*{password}" /></p></td></tr>
        <tr>
          <td align="right"><p>Passport: </p></td>
          <td align="center"><p><input class="input" type="number" th:field="*{passportNum}" /></p></td></tr>
        <tr>
          <td align="center"><p><input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Confirm" /></p></td>
          <td align="center"><p><input class="btn btn-outline-success my-2 my-sm-0" type="reset" value="Clear" /></p></td>
        </tr>
      </table>
    </form>
  </div>
</div>
</body>
</html>