<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: common_header(~{::title})">
  <title>BankMini - Succes</title>
</head>

<div th:replace="fragments/header :: copyheader"></div>

<body style="background-color: #28a745;">
<div class="mainblock">
  <div class="container">
    <h1>Registration completed</h1>
    <table>
      <tr><td><p>Name:</p></td> <td><p th:text="${client.firstName}" /></td></tr>
      <tr><td><p>Surname:</p></td> <td><p th:text="${client.lastName}" /></td></tr>
    <tr><td colspan="2"><a href="/registration"> <button style="align: center;" class="btn btn-outline-success my-2 my-sm-0" type="button">Registrate other client</button> </a></td></tr>
    </table>
  </div>
</div>
</body>

<div th:replace="fragments/footer :: copy"></div>
</html>