header{
  border-radius: 5px;
  padding: 10px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
  opacity: 1;
  filter: alpha(Opacity=95);
}

body {
  background-image: url(/static/image/sber.png);
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 700px;
  background-color: #28a745;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer{
  border: 1px double black;
  border-radius: 5px;
  padding: 10px;
  background: #30b44f;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
  opacity: 1;
  filter: alpha(Opacity=95);
}

.header {
  border-radius: 5px;
  padding: 10px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
  opacity: 1;
  filter: alpha(Opacity=95);
}

.mainblock {
  border-radius: 5px;
  padding: 10px;
  background: #ffffff;
  width: 95%;
  height: 90%;
  opacity: 0.95;
  filter: alpha(Opacity=95);
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.greenback{
  background-color: #28a745;
}

.cusfooter{
  border: 1px double black;
  border-radius: 5px;
  padding: 10px;
  background: #30b44f;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 1;
  filter: alpha(Opacity=95);
  width: 95%;
}

.cusheader{
  contain: content;
  border-radius: 5px;
  padding: 10px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
  opacity: 1;
  filter: alpha(Opacity=95);
}

.button{
  height:30px;
}

.input{
  height:30px;
}

.tablex {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  padding: 5px;
  background: #ddffda;
  border: 1px solid #218f11;
  border-collapse: collapse;
}
.th1 {
  background: #137d06;
  border-left: 1px solid #137d06;
  border-bottom: 1px solid #137d06;
  color: white;
  text-align: center;
}
.green2 {
  text-align: center;
  border-bottom: 1px solid #137d06;
}
.even {
  text-align: center;
  background: #98ca8e;
}
.la {
  border-left: 1px solid #137d06;
  border-bottom: 1px solid #137d06;
  text-align: center;
}